*.class
.metadata/**
*.xml
.idea/**
.metadata/.mylyn/.tasks.xml.zip/*

/15_08_2016_StackHomeWork/nbproject/private/
/StackYetTime/nbproject/private/
/11_08_2016/nbproject/private/
/17_08_2016/nbproject/private/
/12_08_2016/nbproject/private/
/16_08_2016_2/nbproject/private/
/15_08_2016_1/nbproject/private/
/Serializable/nbproject/private/
/12_08_2016_6/nbproject/private/
/15_08_2016_HomeWork1/nbproject/private/
/15_08_2016/nbproject/private/
/18_08_2016/nbproject/private/
/16_08_2016/nbproject/private/
/15_08_2016_2/nbproject/private/
/10_08_2016/nbproject/private/
/16_08_2016_1/nbproject/private/
/16_08_2016_StudentsNomeWork/nbproject/private/
/NIIT_tasks/nbproject/private/
/18_08_2016/build/
.metadata/.mylyn/contexts/
.metadata/.plugins/org.eclipse.ant.ui/
.metadata/.plugins/org.eclipse.core.resources/.history/1/
.metadata/.plugins/org.eclipse.core.resources/.history/16/503434ed968000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/19/80e5f56f948000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/1a/
.metadata/.plugins/org.eclipse.core.resources/.history/1d/
.metadata/.plugins/org.eclipse.core.resources/.history/1e/
.metadata/.plugins/org.eclipse.core.resources/.history/2/
.metadata/.plugins/org.eclipse.core.resources/.history/23/
.metadata/.plugins/org.eclipse.core.resources/.history/29/300c14c78e8000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/2a/f0d79c1cac8000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/2e/
.metadata/.plugins/org.eclipse.core.resources/.history/2f/
.metadata/.plugins/org.eclipse.core.resources/.history/31/d0fc9dd88f8000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/34/
.metadata/.plugins/org.eclipse.core.resources/.history/35/
.metadata/.plugins/org.eclipse.core.resources/.history/38/e01cdd0644700016103da1f14b6cf53f
.metadata/.plugins/org.eclipse.core.resources/.history/39/a0d5f704ac8000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/3b/
.metadata/.plugins/org.eclipse.core.resources/.history/42/
.metadata/.plugins/org.eclipse.core.resources/.history/43/
.metadata/.plugins/org.eclipse.core.resources/.history/44/
.metadata/.plugins/org.eclipse.core.resources/.history/46/
.metadata/.plugins/org.eclipse.core.resources/.history/4a/20aaee1d9d8000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/4c/50b58ebdae8000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/4d/b0ad28a19c8000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/4e/b0e5505647700016103da1f14b6cf53f
.metadata/.plugins/org.eclipse.core.resources/.history/52/9022e3e945700016103da1f14b6cf53f
.metadata/.plugins/org.eclipse.core.resources/.history/58/f0643331b08000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/5b/
.metadata/.plugins/org.eclipse.core.resources/.history/60/809d718d938000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/62/
.metadata/.plugins/org.eclipse.core.resources/.history/63/20132d12a28000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/63/4099ad71e4800016138fadec6da7997a
.metadata/.plugins/org.eclipse.core.resources/.history/65/40d992d88f8000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/66/200cdb6a9d8000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/67/104d496ce8800016138fadec6da7997a
.metadata/.plugins/org.eclipse.core.resources/.history/68/d054c90aa38000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/69/
.metadata/.plugins/org.eclipse.core.resources/.history/6b/
.metadata/.plugins/org.eclipse.core.resources/.history/6d/60ea035a948000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/6f/30e9d203a28000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/7/
.metadata/.plugins/org.eclipse.core.resources/.history/72/
.metadata/.plugins/org.eclipse.core.resources/.history/73/
.metadata/.plugins/org.eclipse.core.resources/.history/77/109a4a2ca38000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/77/70f729a98e8000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/7e/
.metadata/.plugins/org.eclipse.core.resources/.history/7f/
.metadata/.plugins/org.eclipse.core.resources/.history/80/
.metadata/.plugins/org.eclipse.core.resources/.history/85/00f27fe9ae8000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/88/
.metadata/.plugins/org.eclipse.core.resources/.history/89/508bb31b43700016103da1f14b6cf53f
.metadata/.plugins/org.eclipse.core.resources/.history/8c/0000c9eba08000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/8e/
.metadata/.plugins/org.eclipse.core.resources/.history/8f/9096516f918000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/9/f031be5ca08000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/92/10eb73ef43700016103da1f14b6cf53f
.metadata/.plugins/org.eclipse.core.resources/.history/94/
.metadata/.plugins/org.eclipse.core.resources/.history/95/b0d9d170ac8000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/96/
.metadata/.plugins/org.eclipse.core.resources/.history/9d/f0335672a58000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/9f/
.metadata/.plugins/org.eclipse.core.resources/.history/a0/f0597de9ae8000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/a5/
.metadata/.plugins/org.eclipse.core.resources/.history/a7/40ab02bd42700016103da1f14b6cf53f
.metadata/.plugins/org.eclipse.core.resources/.history/aa/00296ceb44700016103da1f14b6cf53f
.metadata/.plugins/org.eclipse.core.resources/.history/ab/8037acb844700016103da1f14b6cf53f
.metadata/.plugins/org.eclipse.core.resources/.history/ad/f0ef69f1b08000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/ae/d0027f7d9f8000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/af/
.metadata/.plugins/org.eclipse.core.resources/.history/b/
.metadata/.plugins/org.eclipse.core.resources/.history/b0/30f1cd4d47700016103da1f14b6cf53f
.metadata/.plugins/org.eclipse.core.resources/.history/b1/80849e2dc8830016199a80719067a2a3
.metadata/.plugins/org.eclipse.core.resources/.history/b2/
.metadata/.plugins/org.eclipse.core.resources/.history/b5/
.metadata/.plugins/org.eclipse.core.resources/.history/b8/90313e9e948000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/bc/
.metadata/.plugins/org.eclipse.core.resources/.history/bd/a0deb11e938000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/c/
.metadata/.plugins/org.eclipse.core.resources/.history/c1/f0ad77f1e4800016138fadec6da7997a
.metadata/.plugins/org.eclipse.core.resources/.history/c5/
.metadata/.plugins/org.eclipse.core.resources/.history/c7/20d12f5b9d8000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/c8/f090729947700016103da1f14b6cf53f
.metadata/.plugins/org.eclipse.core.resources/.history/cb/
.metadata/.plugins/org.eclipse.core.resources/.history/ce/
.metadata/.plugins/org.eclipse.core.resources/.history/cf/3002ed1ba78000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/d/10cd35309a8000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/d0/e0fdd700908000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/d4/100f4d1ea38000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/d9/
.metadata/.plugins/org.eclipse.core.resources/
.history/de/30241291908000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/e/
.metadata/.plugins/org.eclipse.core.resources/.history/e0/
.metadata/.plugins/org.eclipse.core.resources/.history/e2/
.metadata/.plugins/org.eclipse.core.resources/.history/e3/00fdb534a58000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/e4/90d8052f9a8000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/eb/e0611f40a08000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/ed/a04e2fa98e8000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.history/f0/30e18b43c7830016199a80719067a2a3
.metadata/.plugins/org.eclipse.core.resources/.history/f2/30ad99afcc8300161c339a05ef00edc4
.metadata/.plugins/org.eclipse.core.resources/.history/f3/
.metadata/.plugins/org.eclipse.core.resources/.history/f7/80107b16a28000161aafe0bb6211f7f7
.metadata/.plugins/org.eclipse.core.resources/.projects/10_08_2016/4.tree
.metadata/.plugins/org.eclipse.core.resources/.projects/10_08_2016/org.eclipse.jdt.apt.core/
.metadata/.plugins/org.eclipse.core.resources/.projects/11_08_2016/3.tree
.metadata/.plugins/org.eclipse.core.resources/.projects/11_08_2016/org.eclipse.jdt.apt.core/
.metadata/.plugins/org.eclipse.core.resources/.projects/12_08_2016/1.tree
.metadata/.plugins/org.eclipse.core.resources/.projects/12_08_2016/org.eclipse.jdt.apt.core/
.metadata/.plugins/org.eclipse.core.resources/.projects/12_08_2016_Stack_Dictionary/org.eclipse.jdt.apt.core/
.metadata/.plugins/org.eclipse.core.resources/.projects/15_08_2016_2/org.eclipse.jdt.apt.core/
.metadata/.plugins/org.eclipse.core.resources/.projects/15_08_2016_DinamicMemoryStackAndArrayList/4.tree
.metadata/.plugins/org.eclipse.core.resources/.projects/15_08_2016_DinamicMemoryStackAndArrayList/org.eclipse.jdt.apt.core/
.metadata/.plugins/org.eclipse.core.resources/.projects/15_08_2016_StackPushPop/4.tree
.metadata/.plugins/org.eclipse.core.resources/.projects/15_08_2016_StackPushPop/org.eclipse.jdt.apt.core/
.metadata/.plugins/org.eclipse.core.resources/.projects/16_08_2016_InnerClass_Grafics_Observer/org.eclipse.jdt.apt.core/
.metadata/.plugins/org.eclipse.core.resources/.projects/16_08_2016_StudentsNomeWork/6.tree
.metadata/.plugins/org.eclipse.core.resources/.projects/16_08_2016_StudentsNomeWork/org.eclipse.jdt.apt.core/
.metadata/.plugins/org.eclipse.core.resources/.projects/17_08_2016_Enum_Exception/org.eclipse.jdt.apt.core/
.metadata/.plugins/org.eclipse.core.resources/.projects/18_08_2016_ManyMethodsForElementClass/3.tree
.metadata/.plugins/org.eclipse.core.resources/.projects/18_08_2016_ManyMethodsForElementClass/org.eclipse.jdt.apt.core/
.metadata/.plugins/org.eclipse.core.resources/.projects/19_08_2016_String_Annotation_RegularExpressions/org.eclipse.jdt.apt.core/
.metadata/.plugins/org.eclipse.core.resources/.projects/25_08_2016_Collection_LyambdaExpressions/3.tree
.metadata/.plugins/org.eclipse.core.resources/.projects/25_08_2016_Collection_LyambdaExpressions/org.eclipse.jdt.apt.core/
.metadata/.plugins/org.eclipse.core.resources/.projects/26_08_2016_Thread/org.eclipse.jdt.apt.core/
.metadata/.plugins/org.eclipse.core.resources/.projects/30_08_2016/
.metadata/.plugins/org.eclipse.core.resources/.projects/30_08_2016_2/
.metadata/.plugins/org.eclipse.core.resources/.projects/31_08_2016/
.metadata/.plugins/org.eclipse.core.resources/.projects/Collection_Container_HomeWork/2.tree
.metadata/.plugins/org.eclipse.core.resources/.projects/Collection_Container_HomeWork/org.eclipse.jdt.apt.core/
.metadata/.plugins/org.ec
lipse.core.resources/.projects/Empty/org.eclipse.jdt.apt.core/
.metadata/.plugins/org.eclipse.core.resources/.projects/NIIT_tasks/org.eclipse.jdt.apt.core/
.metadata/.plugins/org.eclipse.core.resources/.projects/Reflaction/5.tree
.metadata/.plugins/org.eclipse.core.resources/.projects/Reflaction/org.eclipse.jdt.apt.core/
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/
.metadata/.plugins/org.eclipse.core.resources/.projects/Serializable/org.eclipse.jdt.apt.core/
.metadata/.plugins/org.eclipse.core.resources/.projects/StackYetTime/org.eclipse.jdt.apt.core/
.metadata/.plugins/org.eclipse.core.resources/.projects/notname/
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/66.tree
.metadata/.plugins/org.eclipse.core.resources/66.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.browser.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.views.log.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.texteditor.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/Adapter.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Client.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Empty2.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Main30_1.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Main30_ClassWork.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Main31.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/NotName.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Pattern.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Server.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Stratergy.launch
.metadata/.plugins/org.eclipse.emf.common.ui/
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_5.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_5.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_5.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_5.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_5.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_5.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_6.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_6.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_6.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_6.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_6.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_6.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_6.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_6.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments_7
.metadata/.plugins/org.eclipse.equinox.p2.ui/
.metadata/.plugins/org.eclipse.jdt.core/1192534972.index
.metadata/.plugins/org.eclipse.jdt.core/3044530581.index
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/
.metadata/.plugins/org.eclipse.jst.jsp.core/
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2016/9/
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/30_08_2016_2/
Woul
d remove .metadata/.plugins/org.eclipse.mylyn.bugzilla.core/
.metadata/.plugins/org.eclipse.mylyn.commons.notifications.ui/
.metadata/.plugins/org.eclipse.mylyn.context.core/
.metadata/.plugins/org.eclipse.mylyn.tasks.ui/
.metadata/.plugins/org.eclipse.oomph.setup.ui/
.metadata/.plugins/org.eclipse.pde.api.tools/
.metadata/.plugins/org.eclipse.pde.core/.p2/
.metadata/.plugins/org.eclipse.ui.intro/
.metadata/.plugins/org.eclipse.ui.views.log/
.metadata/.plugins/org.eclipse.wst.common.modulecore/
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/
.metadata/.plugins/org.eclipse.wst.server.core/
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1b.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1b.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1b.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1b.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1b.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1b.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1b.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1b.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_1c
10/10.iml
12_08_2016_6/
12_08_2016_Stack_Dictionary/12_08_2016_Stack_Dictionary.iml
15_08_2016_DinamicMemoryStackAndArrayList/15_08_2016_DinamicMemoryStackAndArrayList.iml
15_08_2016_HomeWork1/
15_08_2016_StackHomeWork/
15_08_2016_StackPushPop/15_08_2016_StackPushPop.iml
16_08_2016/
16_08_2016_InnerClass_Grafics_Observer/16_08_2016_InnerClass_Grafics_Observer.iml
17_08_2016/
17_08_2016_Enum_Exception/17_08_2016_Enum_Exception.iml
18_08_2016/
18_08_2016_ManyMethodsForElementClass/18_08_2016_ManyMethodsForElementClass.iml
19_08_2016/19_08_2016.iml
19_08_2016_String_Annotation_RegularExpressions/19_08_2016_String_Annotation_RegularExpressions.iml
25_08_2016_Collection_LyambdaExpressions/25_08_2016_Collection_LyambdaExpressions.iml
26_08_2016_Thread/26_08_2016_Thread.iml
#26_08_2016_Thread/src/NIIT/MainPract.java
29_08_2016/29_08_2016.iml
30_08_2016/
30_08_2016_2/
31_08_2016/
Collection_Container_HomeWork/Collection_Container_HomeWork.iml
Empty/Empty.iml
#Empty/src/Empty2.java
Reflaction/Reflaction.iml
notname/
26_08_2016_Thread/src/NIIT/MainPract.java
Empty/src/Empty2.java
